PORT=4003
MONGO_URI=mongodb://localhost:27017/eventia-reservations
CLIENT_SERVICE_URL=http://localhost:4001/api/clients
EQUIPMENT_SERVICE_URL=http://localhost:4002/api/equipements
NOTIFICATION_SERVICE_URL=http://localhost:4004/api/notifications
